body{
    background-color: #F1F1F3;
}

/* Shared Styles */
.primary-text-color{
    color: #006A50;
}

.section-title{
    font-size: 40px;
    font-weight:bold;
    color: #0E0E0E;
    padding-top: 80px;
    padding-bottom: 32px;
}
.vision-title{
    font-size:20px ;
    font-weight: bold;
    color:RGB(54, 56, 80);
}
.vision-description{
    color:rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 500;

}



/* All Buttons Styles here */
.banner-btn{
    background-color: #006A50;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    padding: 17px 34px;
}
.banner-btn:hover{
    background-color:red;
    color: green;
    cursor: pointer;
}

.vision-btn1{
    background-color: #5490F5;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
}
.vision-btn1:hover{
    background-color: darkviolet;
    cursor: pointer;
}

.vision-btn2{
    background-color: #09A15C;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;

}
.vision-btn2:hover{
    background-color: darkviolet;
    cursor: pointer;
}

.vision-btn3{
    background-color: #FFC239;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
} 
.vision-btn3:hover{
    background-color: darkviolet;
    cursor: pointer;
}


.vision-btn1, .vision-btn2, .vision-btn3{
    padding: 11px 20px;
    border: none;

}
.news-btn{
    background-color:#006A50 ;
    color:#FFFFFF ;
    font-size:18px ;
    font-weight:400;
    border: none;
    border-radius: 8px;
    padding: 13px 26px;

}
.news-btn:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.donatenow-btn{
    background-color: #006A50;
    border-radius:8px;
    border: none;
    padding: 17px 34px;
    color: white;
    margin-top: 32px;
    font-size:18px ;
    font-weight:400;
}
.donatenow-btn:hover{
background-color: red;
color: #006A50;
cursor: pointer;
}
.btn{
    text-align: center;
}
.subscribbtn{
    background-color: #006A50;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    color: white;
    padding: 17px 34px;
    font-size:18px ;
    font-weight:400;

   
}
.subscribbtn:hover{
    background-color:red;
    color: #006A50;
    cursor: pointer;
}

/* Navigation Start Here */
.nav-title{
    font-weight: bold;
    font-size: 32;
    color: #0E0E0E;

}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px 24px;
    background-color:#F1F1F3;

}
.nav-btn-singin{
    border-radius: 8px;
    padding: 15px 30px;
    border: 2px solid #006A50;
    font-weight: bold;   
}
.nav-btn-singin:hover{
    background-color: #006A50;
    color: red;
    cursor: pointer;

}
header{
    max-width: 1280px;
    margin: 0 auto;
}

/* Banner Start Here */
.banner{
    background-color: #C6E4D6;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 24px;
    padding: 80px 60px;
    padding-top: 13px;
    gap: 64px;
    
}

.banner-title{
    font-size: 24px;
    font-weight: 600;
    color: #B3B3B3;
}
.banner-description{
    font-size:58px;
    font-weight:bold;
    color:#0E0E0E;
}



/* Banner End Here */

/* Main Pillars Start Here */

main{
    max-width: 1280px;
    margin: 0 auto;
    background-color:#F1F1F3;
}

/* Main Pillars Start Here */

.pillar-section{
    display: flex;
    align-items:center;
    gap: 24px;
    padding: 24px;
}

.pillar{
    background-color: white;
    border-radius: 16px;
}

.pillar-title{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
}
.pillar-description{
    text-align:justify;
    padding: 24px;
}

/* Vision Section */

.vision-coantiner{
    display: flex;
    gap: 24px;
    min-width: 410px;

}

.vision1{
    background-color: #81B4FC;
    border-radius: 16px;
    padding: 24px 32px;

}
.vision2{
    background-color: #5490F5;
    border-radius: 16px;
    padding: 24px 32px;
}
.vision3{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 24px 32px;
}

.speach-container{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 10px 15px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: white;
    border-radius: 15px;
    margin-top: 80px;
 


   
}
.speaches{
     /* padding: 48px 24px;  */
     padding-top: 25px;
     padding-left:20px;
     max-width: 1232px;
     justify-content: flex-start;
} 
.speach-main{
    flex-direction: column;
}

.name{
    padding-left: 20px;

}

.main-name{
    font-size:20px;
    font-weight:600;
    color:rgba(14, 14, 14, 0.8);
    padding-top: 12px;
}
.position{
    color:rgba(14, 14, 14, 0.6);
    font-size:16px;
    font-weight:400;
}
/* News Styls Start */
.news{
    margin-top: 80px;
    margin-bottom: 32px;
}

.news-description{
   color:RGB(54, 56, 80);
   font-size: 16px;
   font-weight: 400;
}
.news-container1{
    display: flex;
    background-color:white;
    border-radius: 24px;
    gap: 32px;
    padding: 48px;
    margin-top: 32px;

}

.news-image{
    border-radius: 20px;


}

.news-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.news-details{
    font-size:16px;
    font-weight: 400;
    color: RGB(54, 56, 80);

}
/* News Styles End */
.donation{
    /* padding: 105px; */
    margin-top: 80px;

}

.heading{
    text-align: center;
    font-size:40px;
    font-weight: bold;
    color: #0E0E0E;
}
.heading-description{
    text-align:center;
    color: RGB(54, 56, 80);;
    font-size:16px ;
    font-weight:400;
    max-width: 1104px;
}

.amount{
    display: flex;
    gap: 24px;
    /* max-width: 1070px; */
    /* justify-items: center; */
    align-items: center;
    justify-content: space-around;
}
.inamount{
    background-color: white;
    border-radius: 15px;
    /* text-align: center; */
    padding: 40px;
}
.donate-text{
    font-size:40px ;
    font-weight:bold;
    /* padding: 40px; */
}
.special{
    background-color: #81B4FC;
}
.put-ammount{
margin: 0 auto;
    /* margin-left:25px; */
    

}
.put-ammount input[type="text"] {
padding: 20px;
width: 100%;
/* align-items: center; */
/* text-align: center; */
border: none;
margin-top: 32px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 400;
text-align: center;
}
.subscrib-section{
    background-color: #C6E4D6;
    text-align:center;
    border-radius: 24px;

.subscribe-title{
    font-size:40px;
    font-weight:bold;
    color:black;
    padding-top: 80px;

    }
}
.subscrib-input-field{
    display: flex;
    text-align: center;
    border: none;
    /* align-items: center; */
    justify-content: center;
    

}

.input-email input[type="email"]{
border: none;
padding: 17px 34px;
color: white;
font-size:18px ;
font-weight:400;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
padding-right: 403px;
}

/* padding: 17px 34px;
color: white;
margin-top: 32px; */

.promised{
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 80px;
    color:RGB(54, 56, 80);
}
.subscribe-description{
    font-size:16px;
    font-weight:400;
    color:RGB(54, 56, 80);
/* padding: 16px 64px 24px 64px; */
    /* justify-content: center; */
}

footer{
    background-color: white;
    margin: 0px;
    max-width: 1600px;
    margin-top: 80px;
}
.footer-title{
    text-align: center;
    /* margin: 50px; */
    padding-top: 50px;
    padding-bottom: 32px;
}
.footer-down{
display: flex;
gap: 23px;
justify-content: center;
padding-top: 32px;
padding-bottom: 50px;
}
hr{
   width: 1122px;
}

.inamount:hover{
background-color: #09A15C;
cursor: pointer;
}